

<section>
  <hr>
  <div class="footer" style="  background-color: black !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 10;">
  <p>@cool engineer &#169 2023 all rights reseved.</p>
  </div>
</section>